<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

<div #scenery class="scenery">
  <div class="cameras-dish">
    <div [style.width.px]="getCameraWidth(scenery.offsetWidth, scenery.offsetHeight)"
         [style.height.px]="getCameraHeight(scenery.offsetWidth, scenery.offsetHeight)" class="camera">
      <video class="video" *ngIf="localStream" [srcObject]="localStream" [muted]="true" autoplay playsinline></video>
      <div class="overlay">{{localUserName}}</div>
    </div>

    <div *ngFor="let user of otherUserConnections"
         [style.width.px]="getCameraWidth(scenery.offsetWidth, scenery.offsetHeight)"
         [style.height.px]="getCameraHeight(scenery.offsetWidth, scenery.offsetHeight)" class="camera">
      <video class="video" *ngIf="user.otherUserMediaStream" [srcObject]="user.otherUserMediaStream" [muted]="false" autoplay playsinline></video>
      <div class="overlay">{{user.otherUser.name}}</div>
    </div>
  </div>
  <app-controls></app-controls>
</div>
