.scenery {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  height: 90vh;
}

.cameras-dish {
  overflow: scroll;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-top: 1em;
  flex: 1;
  border-radius: 10px;
}

.camera {
  --shadow-dark: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  vertical-align: middle;
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  box-shadow: var(--shadow-dark);
  background: #fff;
  animation: show 0.4s ease;
  margin: 5px;
}

.overlay {
  position:absolute;
  top:0;
  left:0;
  z-index:1;

  color: #ececec;
  text-shadow: 0px 0px 15px #484646;
  font-family: 'Raleway', sans-serif;
  margin: 1ex;
  display: block;

  background-color: rgba(54, 54, 54, 0.5); /* Цвет фона за текстом имени */
  font-weight: bold;
  border-radius: 20px;
  width: auto;
  height: auto;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
}

video {
  position: absolute;
  right: 0;
  object-fit: cover;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  left: 0;
  top: 0;
  background-size: cover;
  -webkit-transition: margin-top 1s ease-in-out;
  -moz-transition: margin-top 1s ease-in-out;
  -o-transition: margin-top 1s ease-in-out;
  transition: margin-top 1s ease-in-out;
}

/* Анимация появления камер */
@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
