<div class="permissions-page">
  <mat-card class="permissions-card mat-elevation-z24">
    <mat-card-header>
      <div mat-card-avatar class="shoulder-camera-header-image"></div>
      <mat-card-title>Привет!</mat-card-title>
      <mat-card-subtitle>Проверь, что ты себя видишь</mat-card-subtitle>
    </mat-card-header>
    <video mat-card-image [srcObject]="localStream" [muted]="true" autoplay playsinline></video>
    <mat-card-content>
      <p *ngIf="!localStream">
        Если ты себя не видишь, разреши доступ к камере и микрофону
      </p>
      <p *ngIf="localStream">
        Кажется, все ок, можем подключаться)
      </p>
    </mat-card-content>
    <mat-card-actions class="button-centered">
      <button *ngIf="!localStream" mat-button (click)="grantAccess()">{{ "разрешить" | uppercase }}</button>
      <button *ngIf="localStream" mat-button [routerLink]="['/room']">{{ "подключиться к созвону" | uppercase }}</button>
    </mat-card-actions>
  </mat-card>
</div>
